.custom-marker {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  box-shadow: 0 0 4px #555;
}

.legend-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.marker-bote { background-color: yellow; }
.marker-verde { background-color: darkgreen; }
.marker-bebedero { background-color: blue; }
.marker-restaurante { background-color: red; }
.marker-tienda { background-color: orange; }
.marker-construccion { background-color: gray; }
.marker-default { background-color: purple; }